.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.status {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.name {
  font-size: 30px;
}
